--
-- PostgreSQL database dump
--

\restrict Yy7oFa2bJ5CKRPQZvEzlVKGJX7TDpYRMHfVAc1oyy9pSsMGE4UXRr9qgxvvdBq5

-- Dumped from database version 15.16 (Debian 15.16-1.pgdg13+1)
-- Dumped by pg_dump version 15.16 (Debian 15.16-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: CarCategories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CarCategories" (
    "Id" integer NOT NULL,
    "Name" text NOT NULL,
    "Description" text
);


ALTER TABLE public."CarCategories" OWNER TO postgres;

--
-- Name: CarCategories_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."CarCategories" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."CarCategories_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Cars; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Cars" (
    "Id" integer NOT NULL,
    "Brand" text NOT NULL,
    "Model" text NOT NULL,
    "Year" integer NOT NULL,
    "PlateNumber" text NOT NULL,
    "Color" text NOT NULL,
    "DailyRate" numeric(10,2) NOT NULL,
    "Status" text NOT NULL,
    "CategoryId" integer NOT NULL
);


ALTER TABLE public."Cars" OWNER TO postgres;

--
-- Name: Cars_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Cars" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Cars_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Clients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Clients" (
    "Id" integer NOT NULL,
    "FullName" text NOT NULL,
    "Email" text NOT NULL,
    "Phone" text NOT NULL,
    "PassportNumber" text NOT NULL,
    "DriverLicense" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Clients" OWNER TO postgres;

--
-- Name: Clients_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Clients" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Clients_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Employees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Employees" (
    "Id" integer NOT NULL,
    "FullName" text NOT NULL,
    "Email" text NOT NULL,
    "Phone" text NOT NULL,
    "Position" text NOT NULL,
    "HireDate" timestamp with time zone NOT NULL
);


ALTER TABLE public."Employees" OWNER TO postgres;

--
-- Name: Employees_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Employees" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Employees_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: MaintenanceRecords; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MaintenanceRecords" (
    "Id" integer NOT NULL,
    "CarId" integer NOT NULL,
    "Description" text NOT NULL,
    "MechanicName" text NOT NULL,
    "StartDate" timestamp with time zone NOT NULL,
    "EndDate" timestamp with time zone,
    "Cost" numeric(10,2) NOT NULL,
    "Status" text NOT NULL
);


ALTER TABLE public."MaintenanceRecords" OWNER TO postgres;

--
-- Name: MaintenanceRecords_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."MaintenanceRecords" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."MaintenanceRecords_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Payments" (
    "Id" integer NOT NULL,
    "RentalId" integer NOT NULL,
    "Amount" numeric(10,2) NOT NULL,
    "PaymentDate" timestamp with time zone NOT NULL,
    "PaymentMethod" text NOT NULL
);


ALTER TABLE public."Payments" OWNER TO postgres;

--
-- Name: Payments_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Payments" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Payments_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Rentals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Rentals" (
    "Id" integer NOT NULL,
    "CarId" integer NOT NULL,
    "ClientId" integer NOT NULL,
    "EmployeeId" integer NOT NULL,
    "StartDate" timestamp with time zone NOT NULL,
    "EndDate" timestamp with time zone NOT NULL,
    "ActualReturnDate" timestamp with time zone,
    "TotalCost" numeric(10,2) NOT NULL,
    "Status" text NOT NULL
);


ALTER TABLE public."Rentals" OWNER TO postgres;

--
-- Name: Rentals_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Rentals" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Rentals_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Data for Name: CarCategories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CarCategories" ("Id", "Name", "Description") FROM stdin;
1	Economy	╨С╤О╨┤╨╢╨╡╤В╨╜╤Л╨╡ ╨░╨▓╤В╨╛╨╝╨╛╨▒╨╕╨╗╨╕
2	Business	╨С╨╕╨╖╨╜╨╡╤Б-╨║╨╗╨░╤Б╤Б
3	Premium	╨Я╤А╨╡╨╝╨╕╤Г╨╝-╨║╨╗╨░╤Б╤Б
4	SUV	╨Т╨╜╨╡╨┤╨╛╤А╨╛╨╢╨╜╨╕╨║╨╕
5	Electric	╨н╨╗╨╡╨║╤В╤А╨╛╨╝╨╛╨▒╨╕╨╗╨╕
\.


--
-- Data for Name: Cars; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Clients; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Employees; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: MaintenanceRecords; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Payments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Rentals; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20260428153030_InitialCreate	10.0.7
20260428203736_AddMaintenanceRecords	10.0.7
\.


--
-- Name: CarCategories_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."CarCategories_Id_seq"', 5, false);


--
-- Name: Cars_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Cars_Id_seq"', 1, false);


--
-- Name: Clients_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Clients_Id_seq"', 21, true);


--
-- Name: Employees_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Employees_Id_seq"', 3, false);


--
-- Name: MaintenanceRecords_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."MaintenanceRecords_Id_seq"', 1, false);


--
-- Name: Payments_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Payments_Id_seq"', 28, true);


--
-- Name: Rentals_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Rentals_Id_seq"', 38, true);


--
-- Name: CarCategories PK_CarCategories; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CarCategories"
    ADD CONSTRAINT "PK_CarCategories" PRIMARY KEY ("Id");


--
-- Name: Cars PK_Cars; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Cars"
    ADD CONSTRAINT "PK_Cars" PRIMARY KEY ("Id");


--
-- Name: Clients PK_Clients; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Clients"
    ADD CONSTRAINT "PK_Clients" PRIMARY KEY ("Id");


--
-- Name: Employees PK_Employees; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employees"
    ADD CONSTRAINT "PK_Employees" PRIMARY KEY ("Id");


--
-- Name: MaintenanceRecords PK_MaintenanceRecords; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MaintenanceRecords"
    ADD CONSTRAINT "PK_MaintenanceRecords" PRIMARY KEY ("Id");


--
-- Name: Payments PK_Payments; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payments"
    ADD CONSTRAINT "PK_Payments" PRIMARY KEY ("Id");


--
-- Name: Rentals PK_Rentals; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rentals"
    ADD CONSTRAINT "PK_Rentals" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: IX_Cars_CategoryId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Cars_CategoryId" ON public."Cars" USING btree ("CategoryId");


--
-- Name: IX_MaintenanceRecords_CarId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_MaintenanceRecords_CarId" ON public."MaintenanceRecords" USING btree ("CarId");


--
-- Name: IX_Payments_RentalId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Payments_RentalId" ON public."Payments" USING btree ("RentalId");


--
-- Name: IX_Rentals_CarId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Rentals_CarId" ON public."Rentals" USING btree ("CarId");


--
-- Name: IX_Rentals_ClientId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Rentals_ClientId" ON public."Rentals" USING btree ("ClientId");


--
-- Name: IX_Rentals_EmployeeId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Rentals_EmployeeId" ON public."Rentals" USING btree ("EmployeeId");


--
-- Name: Cars FK_Cars_CarCategories_CategoryId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Cars"
    ADD CONSTRAINT "FK_Cars_CarCategories_CategoryId" FOREIGN KEY ("CategoryId") REFERENCES public."CarCategories"("Id") ON DELETE CASCADE;


--
-- Name: MaintenanceRecords FK_MaintenanceRecords_Cars_CarId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MaintenanceRecords"
    ADD CONSTRAINT "FK_MaintenanceRecords_Cars_CarId" FOREIGN KEY ("CarId") REFERENCES public."Cars"("Id") ON DELETE CASCADE;


--
-- Name: Payments FK_Payments_Rentals_RentalId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payments"
    ADD CONSTRAINT "FK_Payments_Rentals_RentalId" FOREIGN KEY ("RentalId") REFERENCES public."Rentals"("Id") ON DELETE CASCADE;


--
-- Name: Rentals FK_Rentals_Cars_CarId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rentals"
    ADD CONSTRAINT "FK_Rentals_Cars_CarId" FOREIGN KEY ("CarId") REFERENCES public."Cars"("Id") ON DELETE CASCADE;


--
-- Name: Rentals FK_Rentals_Clients_ClientId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rentals"
    ADD CONSTRAINT "FK_Rentals_Clients_ClientId" FOREIGN KEY ("ClientId") REFERENCES public."Clients"("Id") ON DELETE CASCADE;


--
-- Name: Rentals FK_Rentals_Employees_EmployeeId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rentals"
    ADD CONSTRAINT "FK_Rentals_Employees_EmployeeId" FOREIGN KEY ("EmployeeId") REFERENCES public."Employees"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict Yy7oFa2bJ5CKRPQZvEzlVKGJX7TDpYRMHfVAc1oyy9pSsMGE4UXRr9qgxvvdBq5

